<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="X-UA-Compatible" content="IE=11" />
<!-- <link rel="icon" href="../../../../favicon.ico"> -->

<title>Network Support Site</title>

<!-- Bootstrap core CSS-->
<!-- <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
<!-- Custom fonts for this template-->
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="/css/sb-admin.css" rel="stylesheet">
<link href="/css/upload.css" rel="stylesheet" id="upload-css">
<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script> -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script> -->
<script type="text/javascript" src="/vendor/angular-1.7.2/angular.min.js"></script>

<script type="text/javascript" src="/vendor/rapheal/raphael.min.js"></script>
<script type="text/javascript" src="/vendor/morris.js-0.5.1/morris.min.js"></script>
<script type="text/javascript" src="/vendor/ng-file-upload-bower-12.2.13/ng-file-upload-shim.min.js"></script>
<script type="text/javascript" src="/vendor/ng-file-upload-bower-12.2.13/ng-file-upload.min.js"></script>
<!-- <script type="text/babel" src="/js/root.js"></script> -->
<script type="text/javascript" src="/js/root.js"></script>
