 <!-- ng-app="navbar" -->
<div ng-controller="NavController">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" >
  <a class="navbar-brand" href="/"><img src="/img/LDBLogo.png" width="110px"> LDB Network Support Site v3.0</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="/dashboard">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseStore" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-sitemap"></i>
          <span class="nav-link-text">Network</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseStore" >
            <!-- Needs to be fix  -->
            <div class="input-group">
              <input class="form-control" type="text" ng-model="search_net" placeholder="e.g 002, Cambie, V5Z 3A3.." id="SearchInput">
              <!-- <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span> -->
            </div>
          {{#if isAuthenticated}}
          <li>
            <a href="/network/Create/New">Create Network</a>
          </li>
          {{/if}}
            <li ng-repeat="network in networks | orderBy: sortNet : true |  filter: search_net ">
              <a href="/network/{[{network.id}]}">{[{network.N_Name}]}</a>
            </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#reports" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-file"></i>
          <span class="nav-link-text">Report</span>
        </a>
        <ul class="sidenav-second-level collapse" id="reports">
          <input class="form-control" type="text" ng-model="search_report" placeholder="e.g jan2018..">
          {{#if isAuthenticated}}
          <li>
            <a href="/newreport">Create Report</a>
          </li>
          {{/if}}
          <li>
            <a href="/ReportTable">All Report</a>
          </li>
          <li ng-repeat="repo in reports |  filter: search_report">
            <a href="/report/{[{repo.id}]}">{[{repo.ReportName}]}</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/tool">    <!-- /tool -->
          <i class="fa fa-fw fa-wrench"></i>
          <span class="nav-link-text">Online Tool</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/contact"><!-- /support -->
          <i class="fa fa-fw fa-link"></i>
          <span class="nav-link-text">Contact Information</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
     <ul class="navbar-nav ml-auto">
      <!-- </li> -->
      {{#if isAuthenticated}}
      <li class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary bg-dark dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{useremail}}</button>
          <div class="dropdown-menu  bg-secondary  dropdown-menu-right">
            {{#if super_admin}}
            <a class="dropdown-item bg-secondary  text-white fa fa-user-o"  href="/management"> User Managemnet</a>
            {{/if}}
            <a class="dropdown-item bg-secondary  text-white fa fa-user-o"  href="/resetpass"> Change Password</a>
            <a class="dropdown-item bg-secondary  text-white fa fa-sign-out"  href="/secure/logout"> Logout</a>
          </div>
        </div>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/login">
          <i class="fa fa-sign-in"></i> Login</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>
</div>
<script type="text/JavaScript" src="/js/navbar.js"></script>
