<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/Dashboard">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Contact</li>
</ol>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Contact Information</h1>
      <h2 style="background-color:red;color:white; width: 237px; height: 40px; text-align: center;">CONFIDENTIAL</h2>
      <img src="/img/LDBLogo.png" width="200px">
      <div class="btn-toolbar mb-2 mb-md-0"></div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Fred Apolinario</h5>
        <h6 class="card-subtitle mb-2 text-muted">Manager, Data Centre Operations & Client Computing, Information Technology - Infrastructure & Operations</h6>
        <p class="card-text">Email: fred.apolinario@bcldb.com</p>
        <p class="card-text">Phone: 604-252-3279</p>
        <p class="card-text">Mobile: 604-307-0612</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Howard Lai</h5>
        <h6 class="card-subtitle mb-2 text-muted">Manager, Network Service, Infrastructure & Operations - Information Technology</h6>
        <p class="card-text">Email: Howard.Lai@bcldb.com</p>
        <p class="card-text">Phone: 604 252-2880</p>
        <p class="card-text">Mobile: 604 252-2880</p>
      </div>
    </div>
  </div>
</div>
