<!-- ng-app="myApp" -->
<div ng-controller="myController" ng-init="NetworkInit()">
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Network</a>
	</li>
	<li class="breadcrumb-item active">{[{Network.network_info.N_Name}]}</li>
</ol>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h2 class="h2">{[{Network.network_info.N_Number}]} - {[{Network.network_info.N_Name}]}</h2>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button class="btn btn-sm btn-outline-secondary" ng-click="SaveNetwork()">Save</button>
					<button class="btn btn-sm btn-outline-secondary" ng-click="showtest()">Export</button>
				</div>
			</div>
		</div>
		<hr>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fa fa-table"></i> End Device
			<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#NewEndDevice"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
			</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm"  width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>IP</th>
							<th>Device Name</th>
							<th>VLAN</th>
							<th>Port</th>
							<th>Active</th>
							<th>Description</th>
							<th>Type</th>
							<th>Make</th>
							<th>Model</th>
							<th>Connected Device</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="End_Device in Network.End_Devices | filter:{Status:'!-1'}">
								<td>{[{End_Device.ip}]}</td>
								<td>{[{End_Device.Name}]}</td>
								<td>{[{End_Device.VLAN_ID}]}</td>
								<td>{[{End_Device.PORT}]}</td>
								<td>{[{End_Device.Active}]}</td>
								<td>{[{End_Device.Description}]}</td>
								<td>{[{End_Device.TYPE}]}</td>
								<td>{[{End_Device.Make}]}</td>
								<td>{[{End_Device.Model}]}</td>
								<td>{[{End_Device.NetDevice}]}</td>
								<td>
									<button class="btn btn-default btn-sm"  type="button" ng-click="selectItem(End_Device)" data-toggle="modal" data-target="#EditEndDevice" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
								<button class="btn btn-danger btn-sm" type="button" ng-click="selectItem(End_Device)" data-toggle="modal" data-target="#myModalDelete" ><i class="fa fa-trash" aria-hidden="true"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
	</div>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fa fa-table"></i> WAN
			<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#NewWAN"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped  table-hover table-sm" id="WANTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Provider</th>
							<th>WAN Type</th>
							<th>Upload</th>
							<th>DownLoad</th>
							<th>UploadShaping</th>
							<th>WAN Network</th>
							<th>WAN IP</th>
							<th>ADSL/OOB</th>
							<th>LOC ID</th>
							<th>ASSET TAG</th>
							<th>CSID</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="WAN in Network.WANs | filter:{Status:'!-1'}">
							<td>{[{WAN.Provider}]}</td>
							<td>{[{WAN.WAN_Type}]}</td>
							<td>{[{WAN.Upload}]}</td>
							<td>{[{WAN.DownLoad}]}</td>
							<td>{[{WAN.UploadShaping}]}</td>
							<td>{[{WAN.WAN_Network}]}</td>
							<td>{[{WAN.WAN_IP}]}</td>
							<td>{[{WAN.ADSL_OOB}]}</td>
							<td>{[{WAN.LOC_ID}]}</td>
							<td>{[{WAN.ASSET_TAG}]}</td>
							<td>{[{WAN.CSID}]}</td>
							<td>
								 <button class="btn btn-default btn-sm"  type="button" ng-click="selectWAN(WAN)" data-toggle="modal" data-target="#EditWAN" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
									<button class="btn btn-danger btn-sm" type="button" ng-click="selectWAN(WAN)" data-toggle="modal" data-target="#DeleteWAN" ><i class="fa fa-trash" aria-hidden="true"></i></button>
								 </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
	</div>
	<div class="row">
		<div class = "col-lg-6" >
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> Router/Switch
					<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#NewNetDevice"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-hover table-sm" id="NDeviceTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Type</th>
									<th>Name</th>
									<th>Loopback</th>
									<th>Make</th>
									<th>Model</th>
									<th>Serial Number</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="Net_Device in Network.Net_devices | filter:{Status:'!-1'}">
									<td>{[{Net_Device.type}]}</td>
									<td>{[{Net_Device.name}]}</td>
									<td>{[{Net_Device.Loopback}]}</td>
									<td>{[{Net_Device.Make}]}</td>
									<td>{[{Net_Device.Model}]}</td>
									<td>{[{Net_Device.Serial_Number}]}</td>
									<td>
										  <button class="btn btn-default btn-sm"  type="button" ng-click="selectNetDevice(Net_Device)" data-toggle="modal" data-target="#EditNetDevice" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
											<button class="btn btn-danger btn-sm" type="button" ng-click="selectNetDevice(Net_Device)" data-toggle="modal" data-target="#DeleteNetDevice" ><i class="fa fa-trash" aria-hidden="true"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
			</div>
		</div>
		<div class = "col-lg-6" >
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> VLANS
					<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#NewVLAN"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped  table-hover table-sm" id="VLANTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>VlAN</th>
									<th>description</th>
									<th>Gateway</th>
									<th>Subnet</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="vlan in Network.VlanNetwork  | filter:{Status:'!-1'}">
									<td>{[{vlans[vlan.vlan_id-1].vlan_number}]}</td>
									<td>{[{vlans[vlan.vlan_id-1].Description}]}</td>
									<td>{[{vlan.Gateway}]}</td>
									<td>{[{vlan.Submusk}]}</td>
									<td>
										<button class="btn btn-default btn-sm"  type="button" ng-click="selectedVLAN(vlan)" data-toggle="modal" data-target="#editVlan" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
										<button class="btn btn-danger btn-sm" type="button" ng-click="selectedVLAN(vlan)" data-toggle="modal" data-target="#deleteVlan" ><i class="fa fa-trash" aria-hidden="true"></i></button>
									 </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
			</div>
		</div>
	</div>

 <!-- Trigger the END Device modal with a button -->

<div id="NewEndDevice" class="modal fade" role="dialog" >
  <div class="modal-dialog  modal-lg"  >
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title">New End Device</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
	      <form>
					<div class="container col-md-12">
						<div class="row" >
							<div class="col-md-4">
					    	<label for="inputEmail3"><strong>IP</strong></label>
					      <input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="NewEndevice.ip">
							</div>
							<div class="col-md-4">
					    	<label for="DeviceName"><strong>Device Name</strong></label>
					      <input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="NewEndevice.Name">
							</div>
							<div class="col-md-4">
							<label for="inputEmail3" ><strong>VLAN</strong></label>
							<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="NewEndevice.VLAN_ID">
						</div>
						</div>
					</div>
					<div class="container col-md-12">
						<div class="row">
							<div class="col-md-2">
									<label for="inputEmail3" class="control-label"><strong>Port</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="NewEndevice.PORT">
								</div>
								<div class="col-md-2">
									<label for="inputEmail3" class="control-label"><strong>Active</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="NewEndevice.Active">
								</div>
								<div class="col-md-8">
									<label for="inputEmail3" class="control-label"><strong>Description</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="NewEndevice.Description">
								</div>
							</div>
						</div>
						<div class="container col-md-12">
							<div class="row">
								<div class="col-md-3">
									<label for="inputEmail3" class="control-label"><strong>Type</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Type" ng-model="NewEndevice.TYPE">
								</div>
									<div class="col-md-3">
										<label for="inputEmail3" class="ccontrol-label"><strong>Make</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="NewEndevice.Make">
									</div>
									<div class="col-md-3">
										<label for="inputEmail3" class="control-label"><strong>Model</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="NewEndevice.Model">
									</div>
										<div class="col-md-3">
											<label for="inputEmail3" class=" control-label"> <strong>Connected Device</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="NewEndevice.NetDevice">
										</div>
							</div>
						</div>
			      </div>
			      <div class="modal-footer">
							<button type="button" class="btn btn-primary mr-auto" data-dismiss="modal" ng-click="addEndDevice();">Save</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
						</form>
					</div>
			    </div>
			  </div>

<!-- Modal -->
<div id="EditEndDevice" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit End Device</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
				<div class="modal-body">
		      <form>
						<div class="container col-md-12">
							<div class="row" >
								<div class="col-md-4">
						    	<label for="inputEmail3"><strong>IP</strong></label>
						      <input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="selectedItem.ip">
								</div>
								<div class="col-md-4">
						    	<label for="DeviceName"><strong>Device Name</strong></label>
						      <input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="selectedItem.Name">
								</div>
								<div class="col-md-4">
								<label for="inputEmail3" ><strong>VLAN</strong></label>
								<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="selectedItem.VLAN_ID">
							</div>
							</div>
						</div>
						<div class="container col-md-12">
							<div class="row">
								<div class="col-md-2">
										<label for="inputEmail3" class="control-label"><strong>Port</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="selectedItem.PORT">
									</div>
									<div class="col-md-2">
										<label for="inputEmail3" class="control-label"><strong>Active</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="selectedItem.Active">
									</div>
									<div class="col-md-8">
										<label for="inputEmail3" class="control-label"><strong>Description</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="selectedItem.Description">
									</div>
								</div>
							</div>
							<div class="container col-md-12">
								<div class="row">
									<div class="col-md-3">
										<label for="inputEmail3" class="control-label"><strong>Type</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Type" ng-model="selectedItem.TYPE">
									</div>
										<div class="col-md-3">
											<label for="inputEmail3" class="ccontrol-label"><strong>Make</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="selectedItem.Make">
										</div>
										<div class="col-md-3">
											<label for="inputEmail3" class="control-label"><strong>Model</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="selectedItem.Model">
										</div>
											<div class="col-md-3">
												<label for="inputEmail3" class=" control-label"> <strong>Connected Device</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="selectedItem.NetDevice">
											</div>
								</div>
							</div>
				      </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">

					    </div>
					  </div>
					</form>
			      </div>
			      <div class="modal-footer">
							<button type="button" class="btn btn-default mr-auto" data-dismiss="modal"ng-click="editEndDevice()">Save</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

	<!-- Modal -->
	<div id="myModalDelete" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Are You Sure?</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body">
	        <h3 style='color: red'>{[{selectedItem.ip}]}</h3>
	        <br/>
	      </div>
	      <div class="modal-footer">
	      <button type="button" class="btn btn-default mr-auto" data-dismiss="modal" ng-click="deleteEndDevice()">Yes</button>
	        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- END Device modal with a button -->

	<!-- Start WAN Modal -->
	<div id="NewWAN" class="modal fade" role="dialog" >
	  <div class="modal-dialog  modal-lg"  >
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
					<h4 class="modal-title">New WAN</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body">
						<div class="container col-md-12">
							<div class="row" >
								<div class="col-md-4">
						    	<label for="inputEmail3"><strong>Provider</strong></label>
						      <input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="NewWAN.Provider">
								</div>
								<div class="col-md-4">
						    	<label for="DeviceName"><strong>WAN Type</strong></label>
						      <input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="NewWAN.WAN_Type">
								</div>
								<div class="col-md-4">
								<label for="inputEmail3" ><strong>Upload</strong></label>
								<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="NewWAN.Upload">
							</div>
							</div>
						</div>
						<div class="container col-md-12">
							<div class="row">
								<div class="col-md-2">
										<label for="inputEmail3" class="control-label"><strong>Download</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="NewWAN.DownLoad">
									</div>
									<div class="col-md-2">
										<label for="inputEmail3" class="control-label"><strong>UploadShaping</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="NewWAN.UploadShaping">
									</div>
									<div class="col-md-8">
										<label for="inputEmail3" class="control-label"><strong>WAN Network</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="NewWAN.WAN_Network">
									</div>
								</div>
							</div>
							<div class="container col-md-12">
								<div class="row">
									<div class="col-md-3">
										<label for="inputEmail3" class="control-label"><strong>WAN IP</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Type" ng-model="NewWAN.WAN_IP">
									</div>
										<div class="col-md-2">
											<label for="inputEmail3" class="ccontrol-label"><strong>ADSL OOB</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="NewWAN.ADSL_OOB">
										</div>
										<div class="col-md-2">
											<label for="inputEmail3" class="control-label"><strong>LOC ID</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="NewWAN.LOC_ID">
										</div>
											<div class="col-md-2">
												<label for="inputEmail3" class=" control-label"> <strong>ASSET TAG</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="NewWAN.ASSET_TAG">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class=" control-label"> <strong>CSID</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="NewWAN.CSID">
											</div>
								</div>
							</div>
				      </div>
				      <div class="modal-footer">
								<button type="button" class="btn btn-primary mr-auto" data-dismiss="modal" ng-click="addWAN();">Save</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>

						</div>
				    </div>
				  </div>

	<!-- Modal -->
	<div id="EditWAN" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Edit WAN</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body">
								<div class="container col-md-12">
									<div class="row" >
										<div class="col-md-4">
											<label for="inputEmail3"><strong>Provider</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="selectedItem.Provider">
										</div>
										<div class="col-md-4">
											<label for="DeviceName"><strong>WAN Type</strong></label>
											<input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="selectedItem.WAN_Type">
										</div>
										<div class="col-md-4">
										<label for="inputEmail3" ><strong>Upload</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="selectedItem.Upload">
									</div>
									</div>
								</div>
								<div class="container col-md-12">
									<div class="row">
										<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>Download</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="selectedItem.DownLoad">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>UploadShaping</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="selectedItem.UploadShaping">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>WAN Network</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="selectedItem.WAN_Network">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>WAN IP</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Type" ng-model="selectedItem.WAN_IP">
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="row">
												<div class="col-md-3">
													<label for="inputEmail3" class="ccontrol-label"><strong>ADSL OOB</strong></label>
													<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="selectedItem.ADSL_OOB">
												</div>
												<div class="col-md-3">
													<label for="inputEmail3" class="control-label"><strong>LOC ID</strong></label>
													<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="selectedItem.LOC_ID">
												</div>
													<div class="col-md-3">
														<label for="inputEmail3" class=" control-label"> <strong>ASSET TAG</strong></label>
														<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="selectedItem.ASSET_TAG">
													</div>
													<div class="col-md-3">
														<label for="inputEmail3" class=" control-label"> <strong>CSID</strong></label>
														<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="selectedItem.CSID">
													</div>
										</div>
									</div>
					      </div>
					      <div class="modal-footer">
									<button type="button" class="btn btn-primary mr-auto" data-dismiss="modal"ng-click="editWAN()">Save</button>
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
				    </div>
				  </div>
				</div>

		<!-- Modal -->
		<div id="DeleteWAN" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Are You WAN?</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		      <div class="modal-body">
		        <h3 style='color: red'>{[{selectedItem.WAN_IP}]}</h3>
		        <br/>
		      </div>
		      <div class="modal-footer">
		      <button type="button" class="btn btn-default mr-auto" data-dismiss="modal" ng-click="deleteWAN()">Yes</button>
		        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
	<!-- End WAN Modal -->

	<!-- Start Router/Switch -->
	<div id="NewNetDevice" class="modal fade" role="dialog" >
		<div class="modal-dialog  modal-lg"  >
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">New WAN</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
							<div class="container col-md-12">
								<div class="row" >
									<div class="col-md-4">
										<label for="inputEmail3"><strong>Type</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="NewNetDevice.type">
									</div>
									<div class="col-md-4">
										<label for="DeviceName"><strong>Name</strong></label>
										<input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="NewNetDevice.name">
									</div>
									<div class="col-md-4">
									<label for="inputEmail3" ><strong>Loopback</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="NewNetDevice.Loopback">
								</div>
								</div>
							</div>
							<div class="container col-md-12">
								<div class="row">
									<div class="col-md-4">
											<label for="inputEmail3" class="control-label"><strong>Make</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="NewNetDevice.Make">
										</div>
										<div class="col-md-4">
											<label for="inputEmail3" class="control-label"><strong>Model</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="NewNetDevice.Model">
										</div>
										<div class="col-md-4">
											<label for="inputEmail3" class="control-label"><strong>Serial</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="NewNetDevice.Serial_Number">
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary mr-auto" data-dismiss="modal" ng-click="addNetDevice();">Save</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>

						</div>
						</div>
					</div>

	<!-- Modal -->
	<div id="EditNetDevice" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit Network Device</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
								<div class="container col-md-12">
									<div class="row" >
										<div class="col-md-4">
											<label for="inputEmail3"><strong>type</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="selectedItem.type">
										</div>
										<div class="col-md-4">
											<label for="DeviceName"><strong>Name</strong></label>
											<input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="selectedItem.name">
										</div>
										<div class="col-md-4">
										<label for="inputEmail3" ><strong>Loopback</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="selectedItem.Loopback">
									</div>
									</div>
								</div>
								<div class=" col-md-12">
									<div class="row">
										<div class="col-md-4">
												<label for="inputEmail3" class="control-label"><strong>Make</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="selectedItem.Make">
											</div>
											<div class="col-md-4">
												<label for="inputEmail3" class="control-label"><strong>Model</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="selectedItem.Model">
											</div>
											<div class="col-md-4">
												<label for="inputEmail3" class="control-label"><strong>Serial</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="selectedItem.Serial_Number">
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary mr-auto" data-dismiss="modal"ng-click="editNewNetDevice()">Save</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
						</div>
					</div>
				</div>

		<!-- Modal -->
		<div id="DeleteNetDevice" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Are You WAN?</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<h3 style='color: red'>{[{selectedItem.Serial}]}</h3>
						<br/>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default mr-auto" data-dismiss="modal" ng-click="deleteNewNetDevice()">Yes</button>
						<button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
	<!-- End Router/Switch -->


 	<!-- Start VLAN Modal -->
	<div id="NewVLAN" class="modal fade" role="dialog" >
		<div class="modal-dialog  modal-lg"  >
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">New VlAN</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
							<div class="container col-md-12">
								<div class="row" >
									<div class="col-md-3">
										<label for="inputEmail3"><strong>VLAN</strong></label>
										<select class="form-control"  ng-model="selectedVlan_number" ng-options="vlan.id as vlan.vlan_number for vlan in vlans" ng-change="VlanChange(selectedVlan_number)" ></select>
									</div>
									<div class="col-md-3">
										<label for="DeviceName"><strong>Description</strong></label>
										<input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="vlan_description">
									</div>
									<div class="col-md-3">
									<label for="inputEmail3" ><strong>Gateway</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="NewVLAN.Gateway">
								</div>
								<div class="col-md-3">
										<label for="inputEmail3" class="control-label"><strong>Subnet</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="NewVLAN.Submusk">
									</div>
								</div>
							</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary mr-auto" data-dismiss="modal" ng-click="addVLAN();">Save</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
				</div>
				</div>
			</div>

	<!-- Modal -->
	<div id="editVlan" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit Network Device</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
									<div class="container col-md-12">
										<div class="row" >
											<div class="col-md-3">
												<label for="inputEmail3"><strong>VLAN</strong></label>
												<!-- <input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="vlans[selectedItem.vlan_id-1].vlan_number"> -->
												<select class="form-control"  ng-model="selectedVlan_number" ng-options="vlan.id as vlan.vlan_number for vlan in vlans" ng-change="VlanChange(selectedVlan_number)" ></select>

											</div>
											<div class="col-md-3">
												<label for="DeviceName"><strong>Description</strong></label>
												<input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="vlan_description">
											</div>
											<div class="col-md-3">
											<label for="inputEmail3" ><strong>Gateway</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="selectedItem.Gateway">
										</div>
										<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>Subnet</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="selectedItem.Submusk">
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary mr-auto" data-dismiss="modal"ng-click="editVlan()">Save</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
						</div>
					</div>
				</div>

		<!-- Modal -->
		<div id="deleteVlan" class="modal fade" role="dialog" >
			<div class="modal-dialog modal-dialog-center">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Are You VLAN?</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<h3 style='color: red'>{[{selectedItem.Gateway}]}</h3>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" ng-click="deleteVlan()">Yes</button>
						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>

		<div id="loading" class="modal fade" >
				<span class="fa fa-spinner fa-spin fa-3x" style=" line-height: 50px; vertical-align: middle;"></span>
	 </div>
	<!-- End Vlan-->
</div>
<script type="text/JavaScript" src="/js/Network/Network.js"></script>
