<div ng-app="myApp" ng-controller="myController">
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Networek</a>
	</li>
	<li class="breadcrumb-item active">{[{Network.N_name}]}</li>
</ol>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h2 class="h2">{[{Network.Category}]} {[{Network.ID}]} - {[{Network.N_name}]}</h2>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button class="btn btn-sm btn-outline-secondary">Save</button>
					<button class="btn btn-sm btn-outline-secondary">Export</button>
				</div>
			</div>
		</div>
		<hr>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fa fa-table"></i> End Device
			<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#NewEndDevice">New</button>
			</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>IP</th>
							<th>Device Name</th>
							<th>VLAN</th>
							<th>Port</th>
							<th>Active</th>
							<th>Description</th>
							<th>Type</th>
							<th>Make</th>
							<th>Model</th>
							<th>Connected Device</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="End_Device in Network.End_Device | filter:{Status:'!-1'}">
								<td>{[{End_Device.IP}]}</td>
								<td>{[{End_Device.D_Name}]}</td>
								<td>{[{End_Device.VLAN}]}</td>
								<td>{[{End_Device.Port}]}</td>
								<td>{[{End_Device.Active}]}</td>
								<td>{[{End_Device.Description}]}</td>
								<td>{[{End_Device.Type}]}</td>
								<td>{[{End_Device.Make}]}</td>
								<td>{[{End_Device.Model}]}</td>
								<td>{[{End_Device.Connected_Device}]}</td>
								<td> <button class="btn btn-info btn-sm"  type="button" ng-click="selectItem(End_Device)" data-toggle="modal" data-target="#EditEndDevice" >Edit</button> </td>
								<td> <button class="btn btn-danger btn-sm" type="button" ng-click="selectItem(End_Device)" data-toggle="modal" data-target="#myModalDelete" >Delete</button> </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
	</div>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fa fa-table"></i> WAN</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped  table-hover table-sm" id="WANTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Provider</th>
							<th>WAN Type</th>
							<th>Upload</th>
							<th>DownLoad</th>
							<th>UploadShaping</th>
							<th>WAN Network</th>
							<th>WAN IP</th>
							<th>ADSL/OOB</th>
							<th>LOC ID</th>
							<th>ASSET TAG</th>
							<th>CSID</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="WAN in Network.WAN">
							<td>{[{WAN.Provider}]}</td>
							<td>{[{WAN.WAN_Type}]}</td>
							<td>{[{WAN.Upload}]}</td>
							<td>{[{WAN.Download}]}</td>
							<td>{[{WAN.UploadShaping}]}</td>
							<td>{[{WAN.WAN_Network}]}</td>
							<td>{[{WAN.WAN_IP}]}</td>
							<td>{[{WAN.ADSL_OOB}]}</td>
							<td>{[{WAN.LOC_ID}]}</td>
							<td>{[{WAN.ASSET_TAG}]}</td>
							<td>{[{WAN.CSID}]}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
	</div>
	<div class="row">
		<div class = "col-lg-6" >
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> Router/Switch</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-hover table-sm" id="NDeviceTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Type</th>
									<th>Name</th>
									<th>Loopback</th>
									<th>Make</th>
									<th>Model</th>
									<th>Serial Number</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="Net_Device in Network.Net_Device">
									<td>{[{Net_Device.type}]}</td>
									<td>{[{Net_Device.Name}]}</td>
									<td>{[{Net_Device.Loopback}]}</td>
									<td>{[{Net_Device.Make}]}</td>
									<td>{[{Net_Device.Model}]}</td>
									<td>{[{Net_Device.Serial}]}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
			</div>
		</div>
		<div class = "col-lg-6" >
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> VLANS</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped  table-hover table-sm" id="VLANTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>VlAN</th>
									<th>description</th>
									<th>Gateway</th>
									<th>Subnet</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="vlan in Network.VLANs">
									<td>{[{vlan.VLAN}]}</td>
									<td>{[{vlan.Description}]}</td>
									<td>{[{vlan.Gateway}]}</td>
									<td>{[{vlan.Subnet}]}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
			</div>
		</div>
	</div>

 <!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="NewEndDevice" class="modal fade" role="dialog" >
  <div class="modal-dialog  modal-lg"  >
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title">New End Device</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
	      <form>
					<div class="container col-md-12">
						<div class="row" >
							<div class="col-md-4">
					    	<label for="inputEmail3"><strong>IP</strong></label>
					      <input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="NewEndevice.IP">
							</div>
							<div class="col-md-4">
					    	<label for="DeviceName"><strong>Device Name</strong></label>
					      <input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="NewEndevice.D_Name">
							</div>
							<div class="col-md-4">
							<label for="inputEmail3" ><strong>VLAN</strong></label>
							<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="NewEndevice.VLAN">
						</div>
						</div>
					</div>
					<div class="container col-md-12">
						<div class="row">
							<div class="col-md-2">
									<label for="inputEmail3" class="control-label"><strong>Port</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="NewEndevice.Port">
								</div>
								<div class="col-md-2">
									<label for="inputEmail3" class="control-label"><strong>Active</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="NewEndevice.Active">
								</div>
								<div class="col-md-8">
									<label for="inputEmail3" class="control-label"><strong>Description</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="NewEndevice.Description">
								</div>
							</div>
						</div>
						<div class="container col-md-12">
							<div class="row">
								<div class="col-md-3">
									<label for="inputEmail3" class="control-label"><strong>Type</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Type" ng-model="NewEndevice.Type">
								</div>
									<div class="col-md-3">
										<label for="inputEmail3" class="ccontrol-label"><strong>Make</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="NewEndevice.Make">
									</div>
									<div class="col-md-3">
										<label for="inputEmail3" class="control-label"><strong>Model</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="NewEndevice.Model">
									</div>
										<div class="col-md-3">
											<label for="inputEmail3" class=" control-label"> <strong>Connected Device</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="NewEndevice.Connected_Device">
										</div>
							</div>
						</div>
			      </div>
			      <div class="modal-footer">
							<button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="addEndDevice();">Save</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
						</form>
					</div>
			    </div>
			  </div>

<!-- Modal -->
<div id="EditEndDevice" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit End Device</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
				<div class="modal-body">
		      <form>
						<div class="container col-md-12">
							<div class="row" >
								<div class="col-md-4">
						    	<label for="inputEmail3"><strong>IP</strong></label>
						      <input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="selectedItem.IP">
								</div>
								<div class="col-md-4">
						    	<label for="DeviceName"><strong>Device Name</strong></label>
						      <input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="selectedItem.D_Name">
								</div>
								<div class="col-md-4">
								<label for="inputEmail3" ><strong>VLAN</strong></label>
								<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="selectedItem.VLAN">
							</div>
							</div>
						</div>
						<div class="container col-md-12">
							<div class="row">
								<div class="col-md-2">
										<label for="inputEmail3" class="control-label"><strong>Port</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="selectedItem.Port">
									</div>
									<div class="col-md-2">
										<label for="inputEmail3" class="control-label"><strong>Active</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="selectedItem.Active">
									</div>
									<div class="col-md-8">
										<label for="inputEmail3" class="control-label"><strong>Description</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="selectedItem.Description">
									</div>
								</div>
							</div>
							<div class="container col-md-12">
								<div class="row">
									<div class="col-md-3">
										<label for="inputEmail3" class="control-label"><strong>Type</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Type" ng-model="selectedItem.Type">
									</div>
										<div class="col-md-3">
											<label for="inputEmail3" class="ccontrol-label"><strong>Make</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="selectedItem.Make">
										</div>
										<div class="col-md-3">
											<label for="inputEmail3" class="control-label"><strong>Model</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="selectedItem.Model">
										</div>
											<div class="col-md-3">
												<label for="inputEmail3" class=" control-label"> <strong>Connected Device</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="selectedItem.Connected_Device">
											</div>
								</div>
							</div>
				      </div>

		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="button" class="btn btn-default" data-dismiss="modal"ng-click="editEndDevice()">Save</button>
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

	<!-- Modal -->
	<div id="myModalDelete" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Are You Sure?</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body">
	        <h3 style='color: red'>{[{selectedItem.IP}]}</h3>
	        <br/>
	      </div>
	      <div class="modal-footer">
	      <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="deleteEndDevice()">Yes</button>
	        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
<script type="text/JavaScript" src="/js/app.js"></script>
