<div id="network">
</div>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<script src="/vendor/react/babel.min.js"></script>
<script src="/vendor/react/react.development.js"></script>
<script src="/vendor/react/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.32.1/react-bootstrap.min.js"></script>
<script type="text/babel" src="/js/networkpage/network.js"></script>
<script type="text/babel" src="/js/networkpage/EndDevice.js"></script>
<!-- All optional dependencies version -->
