<!-- ng-app="myApp" -->
<link rel="stylesheet" href="/css/note.css"></style>
<div ng-controller="myController" ng-init="NetworkInit()">
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Network</a>
	</li>
	<li class="breadcrumb-item active">{[{Network.network_info.N_Name}]}</li>
</ol>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h2 class="h2">#{[{Network.network_info.N_Number}]} - {[{Network.network_info.N_Name}]}   {[{Network.network_info.Category}]}</h2>
      <h2 style="background-color:red;color:white; width: 237px; height: 40px; text-align: center;">CONFIDENTIAL</h2>
      <img src="/img/LDBLogo.png" width="200px">
			{{#if isAuthenticated}}
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<!-- <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#SaveNetwork" >Save</button> -->
					<button class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#DeleteNetwork">Delete</button>
				</div>
			</div>
			{{/if}}
		</div>
		<a href="/diagram/{[{Network.network_info.id}]}">Network Diagarm</a>
		<hr>
	<div class = "row">
		<div class = "col-lg-8">
	<div class="card mb-3">
		<div class="card-header">
			<i class="fa fa-table"></i> End Device
			{{#if isAuthenticated}}
			<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#NewEndDevice"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
			{{/if}}
			</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm"  width="100%" cellspacing="0" id="EndDtable">
					<thead>
						<tr>
							<th>IP</th>
							<th>Device Name</th>
							<th>VLAN</th>
							<th>Port</th>
							<th>Active</th>
							<th>Description</th>
							<th>Type</th>
							<th>Make</th>
							<th>Model</th>
							<th>Connected Device</th>
							{{#if isAuthenticated}}
							<th>Action</th>
							{{/if}}
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="End_Device in Network.End_Devices">
								<td>{[{End_Device.ip}]}</td>
								<td>{[{End_Device.name}]}</td>
								<td>{[{End_Device.VLAN_ID}]}</td>
								<td>{[{End_Device.Port}]}</td>
								<td>{[{End_Device.Active}]}</td>
								<td>{[{End_Device.Description}]}</td>
								<td>{[{End_Device.Type}]}</td>
								<td>{[{End_Device.Make}]}</td>
								<td>{[{End_Device.Model}]}</td>
								<td>{[{End_Device.NetDevice}]}</td>
								{{#if isAuthenticated}}
								<td>
									<button class="btn btn-default btn-sm"  type="button" ng-click="selectEndDevice(End_Device)" data-toggle="modal" data-target="#EditEndDevice" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
									<button class="btn btn-danger btn-sm" type="button" ng-click="selectEndDevice(End_Device)" data-toggle="modal" data-target="#myModalDelete" ><i class="fa fa-trash" aria-hidden="true"></i></button>
							</td>
							{{/if}}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer small text-muted">Last Updated at {[{Network.Update_history[0].Update_date | date: 'yyyy-MM-dd'}]}</div>
	</div>
</div>
<div class = "col-lg-4">
		<div class=" card mb-3">
		<div class="card-header">
			<i class="fa fa-table"></i> Network Information
			{{#if isAuthenticated}}
			<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#editNetwork" ng-click = "selectNetwork()"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
			{{/if}}
			</div>
			<div class="card-body">
				<table class="table">
				    <tbody>
							<tr>
							<th>Address</th>
								<td>{[{Network.network_info.address}]}</td>
						</tr>
						<tr>
							<th>Postal Code</th>
								<td>{[{Network.network_info.Postal_Code}]}</td>
						</tr>
						<tr>
							<th>Phone</th>
								<td>{[{Network.network_info.Phone}]}</td>
						</tr>
						<tr>
							<th>Fax</th>
								<td>{[{Network.network_info.Fax}]}</td>
						</tr>
						<tr>
							<th>Circuit_ID</th>
								<td>{[{Network.network_info.Circuit_ID}]}</td>
						</tr>
						</tbody>
					</table>
	</div>
	<div class="card-footer small text-muted">Last Updated at {[{Network.Update_history[0].Update_date | date: 'yyyy-MM-dd'}]}</div>
	</div>
    <div class="card mb-3">
        <div class="card-header" id="accordion">
            <i class="fa fa-history"></i> Notes
            <div class="btn-group pull-right">
                <a type="button" class="btn btn-primary btn-sm pull-right" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
        </div>
    <div class="card-collapse collapse" id="collapseOne">
                  <div class="card-body chatcard-body">
                      <ul class="chat" ng-repeat="note in Network.Update_history ">
                          <li class="left clearfix"><span class="chat-img pull-left" >
                              <img ng-if="note.admin_id == '1'"src="/img/A.png" alt="User Avatar" class="img-circle" />
															<img ng-if="note.admin_id == '2'"src="/img/SA.png" alt="User Avatar" class="img-circle" />
                          </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <strong class="primary-font">{[{note.email}]}</strong> <small class="pull-right text-muted">
                                          <span class="glyphicon glyphicon-time"></span>{[{note.Update_date | date: 'yyyy-MM-dd'}]}</small>
                                  </div>
																	<div class="row">
																		<div class="col-lg-10">
	                                  	<p>{[{note.Description}]}</p>
																		</div>
																		{{#if isAuthenticated}}
																		<div class="col-lg-2">
																			<div class="row">
																				<button class="btn btn-default btn-sm"  type="button" ng-click="selectNote(note)" data-toggle="modal" data-target="#UpdateNote" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
																				 <button class="btn btn-danger btn-sm" type="button" ng-click="selectNote(note)" data-toggle="modal" data-target="#deleteNote" ><i class="fa fa-trash" aria-hidden="true"></i></button>
																			</div>
																		</div>
																		{{/if}}
																	</div>
                              </div>
                          </li>
                      </ul>
                  </div>
									{{#if isAuthenticated}}
                  <div class="card-footer">
                      <div class="input-group">
                        <!-- <input  id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." /> -->
                        <textarea class="form-control" aria-label="With textarea" ng-model="newUpdate.Description"></textarea>
                          <span class="input-group-btn">
                              <button class="btn btn-primary btn-sm" id="btn-chat" ng-click="post_update()">
                                  Send</button>
                          </span>
                      </div>
											{{/if}}
                  </div>
              </div>
          </div>
        </div>
    </div>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fa fa-table"></i> WAN
			{{#if isAuthenticated}}
			<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#NewWAN"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
			{{/if}}
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm" id="WANTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Provider</th>
							<th>WAN Type</th>
							<th>Upload</th>
							<th>DownLoad</th>
							<th>UploadShaping</th>
							<th>WAN Network</th>
							<th>WAN IP</th>
							<th>ADSL/OOB</th>
							<th>LOC ID</th>
							<th>ASSET TAG</th>
							<th>CSID</th>
							{{#if isAuthenticated}}
							<th>Action</th>
							{{/if}}
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="WAN in Network.WANs">
							<td>{[{WAN.Provider}]}</td>
							<td>{[{WAN.WAN_Type}]}</td>
							<td>{[{WAN.Upload}]}</td>
							<td>{[{WAN.DownLoad}]}</td>
							<td>{[{WAN.UploadShaping}]}</td>
							<td>{[{WAN.WAN_Network}]}</td>
							<td>{[{WAN.WAN_IP}]}</td>
							<td>{[{WAN.ADSL_OOB}]}</td>
							<td>{[{WAN.LOC_ID}]}</td>
							<td>{[{WAN.ASSET_TAG}]}</td>
							<td>{[{WAN.CSID}]}</td>
							{{#if isAuthenticated}}
							<td>
								 <button class="btn btn-default btn-sm"  type="button" ng-click="selectWAN(WAN)" data-toggle="modal" data-target="#EditWAN" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
									<button class="btn btn-danger btn-sm" type="button" ng-click="selectWAN(WAN)" data-toggle="modal" data-target="#DeleteWAN" ><i class="fa fa-trash" aria-hidden="true"></i></button>
								 </td>
						</tr>
						{{/if}}
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer small text-muted">Last Updated at {[{Network.Update_history[0].Update_date | date: 'yyyy-MM-dd'}]}</div>
	</div>
	<div class="row">
		<div class = "col-lg-6" >
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> Router/Switch
					{{#if isAuthenticated}}
					<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#NewNetDevice"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
					{{/if}}
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-hover table-sm" id="NDeviceTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Type</th>
									<th>Name</th>
									<th>Loopback</th>
									<th>Make</th>
									<th>Model</th>
									<th>Serial Number</th>
									<th>Connect Device</th>
									{{#if isAuthenticated}}
									<th>Action</th>
									{{/if}}
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="Net_Device in Network.Net_devices | filter:{Status:'!-1'}">
									<td>{[{Net_Device.type}]}</td>
									<td>{[{Net_Device.name}]}</td>
									<td>{[{Net_Device.Loopback}]}</td>
									<td>{[{Net_Device.Make}]}</td>
									<td>{[{Net_Device.Model}]}</td>
									<td>{[{Net_Device.Serial_Number}]}</td>
									<td>{[{Net_Device.Connect_Device}]}</td>
									{{#if isAuthenticated}}
									<td>
										  <button class="btn btn-default btn-sm"  type="button" ng-click="selectNetDevice(Net_Device)" data-toggle="modal" data-target="#EditNetDevice" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
											<button class="btn btn-danger btn-sm" type="button" ng-click="selectNetDevice(Net_Device)" data-toggle="modal" data-target="#DeleteNetDevice" ><i class="fa fa-trash" aria-hidden="true"></i></button>
									</td>
									{{/if}}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted">Last Updated at {[{Network.Update_history[0].Update_date | date: 'yyyy-MM-dd'}]}</div>
			</div>
		</div>
		<div class = "col-lg-6" >
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> VLANS
					{{#if isAuthenticated}}
					<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#NewVLAN"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
					{{/if}}
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped  table-hover table-sm" id="VLANTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>VlAN</th>
									<th>description</th>
									<th>Gateway</th>
									<th>Subnet</th>
									{{#if isAuthenticated}}
									<th>Action</th>
									{{/if}}
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="vlan in Network.VlanNetwork  | filter:{Status:'!-1'}">
									<td>{[{vlans[vlan.vlan_id-1].vlan_number}]}</td>
									<td>{[{vlans[vlan.vlan_id-1].Description}]}</td>
									<td>{[{vlan.Gateway}]}</td>
									<td>{[{vlan.Submusk}]}</td>
									{{#if isAuthenticated}}
									<td>
										<button class="btn btn-default btn-sm"  type="button" ng-click="selectedVLAN(vlan)" data-toggle="modal" data-target="#editVlan" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
										<button class="btn btn-danger btn-sm" type="button" ng-click="selectedVLAN(vlan)" data-toggle="modal" data-target="#deleteVlan" ><i class="fa fa-trash" aria-hidden="true"></i></button>
									 </td>
									 {{/if}}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted">Last Updated at {[{Network.Update_history[0].Update_date | date: 'yyyy-MM-dd'}]}</div>
			</div>
		</div>
	</div>

 <!-- Trigger the END Device modal with a button -->

<div id="NewEndDevice" class="modal fade" role="dialog" >
  <div class="modal-dialog  modal-lg"  >
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
				<h4 class="modal-title">New End Device</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
	      <form>
					<div class="container col-md-12">
						<div class="row" >
							<div class="col-md-4">
					    	<label for="inputEmail3"><strong>IP</strong></label>
					      <input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="NewEndevice.ip">
							</div>
							<div class="col-md-4">
					    	<label for="DeviceName"><strong>Device Name</strong></label>
					      <input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="NewEndevice.name">
							</div>
							<div class="col-md-4">
							<label for="inputEmail3" ><strong>VLAN</strong></label>
							<input type="number" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="NewEndevice.VLAN_ID">
						</div>
						</div>
					</div>
					<div class="container col-md-12">
						<div class="row">
							<div class="col-md-2">
									<label for="inputEmail3" class="control-label"><strong>Port</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="NewEndevice.Port">
								</div>
								<div class="col-md-2">
									<label for="inputEmail3" class="control-label"><strong>Active</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="NewEndevice.Active">
								</div>
								<div class="col-md-8">
									<label for="inputEmail3" class="control-label"><strong>Description</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="NewEndevice.Description">
								</div>
							</div>
						</div>
						<div class="container col-md-12">
							<div class="row">
								<div class="col-md-3">
									<label for="inputEmail3" class="control-label"><strong>Type</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Type" ng-model="NewEndevice.Type">
								</div>
									<div class="col-md-3">
										<label for="inputEmail3" class="ccontrol-label"><strong>Make</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="NewEndevice.Make">
									</div>
									<div class="col-md-3">
										<label for="inputEmail3" class="control-label"><strong>Model</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="NewEndevice.Model">
									</div>
										<div class="col-md-3">
											<label for="inputEmail3" class=" control-label"> <strong>Connected Device</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="NewEndevice.NetDevice">
										</div>
							</div>
						</div>
			      </div>
			      <div class="modal-footer">
							<button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="addEndDevice();">Save</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="NewEndevice={}">Close</button>
			      </div>
						</form>
					</div>
			    </div>
			  </div>

<!-- Modal -->
<div id="EditEndDevice" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit End Device</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
				<div class="modal-body">
		      <form>
						<div class="container col-md-12">
							<div class="row" >
								<div class="col-md-4">
						    	<label for="inputEmail3"><strong>IP</strong></label>
						      <input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="selectedItem.ip">
								</div>
								<div class="col-md-4">
						    	<label for="DeviceName"><strong>Device Name</strong></label>
						      <input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="selectedItem.name">
								</div>
								<div class="col-md-4">
								<label for="inputEmail3" ><strong>VLAN</strong></label>
								<input type="number" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="selectedItem.VLAN_ID">
							</div>
							</div>
						</div>
						<div class="container col-md-12">
							<div class="row">
								<div class="col-md-2">
										<label for="inputEmail3" class="control-label"><strong>Port</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="selectedItem.Port">
									</div>
									<div class="col-md-2">
										<label for="inputEmail3" class="control-label"><strong>Active</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="selectedItem.Active">
									</div>
									<div class="col-md-8">
										<label for="inputEmail3" class="control-label"><strong>Description</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="selectedItem.Description">
									</div>
								</div>
							</div>
							<div class="container col-md-12">
								<div class="row">
									<div class="col-md-3">
										<label for="inputEmail3" class="control-label"><strong>Type</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Type" ng-model="selectedItem.Type">
									</div>
										<div class="col-md-3">
											<label for="inputEmail3" class="ccontrol-label"><strong>Make</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="selectedItem.Make">
										</div>
										<div class="col-md-3">
											<label for="inputEmail3" class="control-label"><strong>Model</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="selectedItem.Model">
										</div>
											<div class="col-md-3">
												<label for="inputEmail3" class=" control-label"> <strong>Connected Device</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="selectedItem.NetDevice">
											</div>
								</div>
							</div>
				      </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">

					    </div>
					  </div>
					</form>
			      </div>
			      <div class="modal-footer">
							<button type="button" class="btn btn-primary " data-dismiss="modal"ng-click="editEndDevice()">Save</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

	<!-- Modal -->
	<div id="myModalDelete" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Delete EndDevice</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body">
					<h3 style='color: red'>Confirm to Delete End Device</h3>
	        <h3 style='color: red'>{[{selectedItem.name}]}</h3>
	        <br/>
	      </div>
	      <div class="modal-footer">
	      <button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="deleteEndDevice()">Confirm</button>
	        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- END Device modal with a button -->

	<!-- Start WAN Modal -->
	<div id="NewWAN" class="modal fade" role="dialog" >
	  <div class="modal-dialog  modal-lg"  >
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
					<h4 class="modal-title">New WAN</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body">
						<div class="container col-md-12">
							<div class="row" >
								<div class="col-md-4">
						    	<label for="inputEmail3"><strong>Provider</strong></label>
						      <input type="text" class="form-control" id="inputEmail3" placeholder="Provider" ng-model="NewWAN.Provider">
								</div>
								<div class="col-md-4">
						    	<label for="DeviceName"><strong>WAN Type</strong></label>
						      <input type="text" class="form-control" id="DeviceName" placeholder="WAN_Type" ng-model="NewWAN.WAN_Type">
								</div>
								<div class="col-md-4">
								<label for="inputEmail3" ><strong>Upload</strong></label>
								<input type="text" class="form-control" id="inputEmail3" placeholder="Upload" ng-model="NewWAN.Upload">
							</div>
							</div>
						</div>
						<div class="container col-md-12">
							<div class="row">
								<div class="col-md-2">
										<label for="inputEmail3" class="control-label"><strong>Download</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Download" ng-model="NewWAN.DownLoad">
									</div>
									<div class="col-md-2">
										<label for="inputEmail3" class="control-label"><strong>UploadShaping</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="UploadShaping" ng-model="NewWAN.UploadShaping">
									</div>
									<div class="col-md-8">
										<label for="inputEmail3" class="control-label"><strong>WAN Network</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="WAN Networ" ng-model="NewWAN.WAN_Network">
									</div>
								</div>
							</div>
							<div class="container col-md-12">
								<div class="row">
									<div class="col-md-3">
										<label for="inputEmail3" class="control-label"><strong>WAN IP</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="WAN IP" ng-model="NewWAN.WAN_IP">
									</div>
										<div class="col-md-2">
											<label for="inputEmail3" class="ccontrol-label"><strong>ADSL OOB</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="ADSL OOB" ng-model="NewWAN.ADSL_OOB">
										</div>
										<div class="col-md-2">
											<label for="inputEmail3" class="control-label"><strong>LOC ID</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="LOC ID" ng-model="NewWAN.LOC_ID">
										</div>
											<div class="col-md-2">
												<label for="inputEmail3" class=" control-label"> <strong>ASSET TAG</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="ASSET TAG" ng-model="NewWAN.ASSET_TAG">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class=" control-label"> <strong>CSID</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="CSID" ng-model="NewWAN.CSID">
											</div>
								</div>
							</div>
				      </div>
				      <div class="modal-footer">
								<button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="addWAN();">Save</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="NewWAN={}">Close</button>
				      </div>

						</div>
				    </div>
				  </div>

	<!-- Modal -->
	<div id="EditWAN" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Edit WAN</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body">
								<div class="container col-md-12">
									<div class="row" >
										<div class="col-md-4">
											<label for="inputEmail3"><strong>Provider</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="selectedItem.Provider">
										</div>
										<div class="col-md-4">
											<label for="DeviceName"><strong>WAN Type</strong></label>
											<input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="selectedItem.WAN_Type">
										</div>
										<div class="col-md-4">
										<label for="inputEmail3" ><strong>Upload</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="VLAN" ng-model="selectedItem.Upload">
									</div>
									</div>
								</div>
								<div class="container col-md-12">
									<div class="row">
										<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>Download</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Port" ng-model="selectedItem.DownLoad">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>UploadShaping</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Active" ng-model="selectedItem.UploadShaping">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>WAN Network</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Description" ng-model="selectedItem.WAN_Network">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>WAN IP</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Type" ng-model="selectedItem.WAN_IP">
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="row">
												<div class="col-md-3">
													<label for="inputEmail3" class="ccontrol-label"><strong>ADSL OOB</strong></label>
													<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="selectedItem.ADSL_OOB">
												</div>
												<div class="col-md-3">
													<label for="inputEmail3" class="control-label"><strong>LOC ID</strong></label>
													<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="selectedItem.LOC_ID">
												</div>
													<div class="col-md-3">
														<label for="inputEmail3" class=" control-label"> <strong>ASSET TAG</strong></label>
														<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="selectedItem.ASSET_TAG">
													</div>
													<div class="col-md-3">
														<label for="inputEmail3" class=" control-label"> <strong>CSID</strong></label>
														<input type="text" class="form-control" id="inputEmail3" placeholder="Connected Device" ng-model="selectedItem.CSID">
													</div>
										</div>
									</div>
					      </div>
					      <div class="modal-footer">
									<button type="button" class="btn btn-primary " data-dismiss="modal"ng-click="editWAN()">Save</button>
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
				    </div>
				  </div>
				</div>

		<!-- Modal -->
		<div id="DeleteWAN" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Delete WAN</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		      <div class="modal-body">
						<h3 style='color: red'>Delete WAN</h3>
		        <h3 style='color: red'>{[{selectedItem.WAN_IP}]}</h3>
		        <br/>
		      </div>
		      <div class="modal-footer">
		      <button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="deleteWAN()">Confirm</button>
		        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
		      </div>
		    </div>
		  </div>
		</div>
	<!-- End WAN Modal -->

	<!-- Start Router/Switch -->
	<div id="NewNetDevice" class="modal fade" role="dialog" >
		<div class="modal-dialog  modal-lg"  >
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">New WAN</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
							<div class="container col-md-12">
								<div class="row" >
									<div class="col-md-4">
										<label for="inputEmail3"><strong>Type</strong></label>
										<!-- <input type="text" class="form-control" id="inputEmail3" placeholder="Type" ng-model="NewNetDevice.type"> -->
										<select class="form-control" ng-model="NewNetDevice.type">
											    <option value="Router">Router</option>
											    <option value="Switch">Switch</option>
											</select>
									</div>
									<div class="col-md-4">
										<label for="DeviceName"><strong>Name</strong></label>
										<input type="text" class="form-control" id="DeviceName" placeholder="Name" ng-model="NewNetDevice.name">
									</div>
									<div class="col-md-4">
									<label for="inputEmail3" ><strong>Loopback</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Loopback" ng-model="NewNetDevice.Loopback">
								</div>
								</div>
							</div>
							<div class="container col-md-12">
								<div class="row">
									<div class="col-md-3">
											<label for="inputEmail3" class="control-label"><strong>Make</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="NewNetDevice.Make">
										</div>
										<div class="col-md-3">
											<label for="inputEmail3" class="control-label"><strong>Model</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="NewNetDevice.Model">
										</div>
										<div class="col-md-3">
											<label for="inputEmail3" class="control-label"><strong>Serial</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Serial" ng-model="NewNetDevice.Serial_Number">
										</div>
										<div class="col-md-3">
											<label for="inputEmail3" class="control-label"><strong>Connect Device</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Connect Device" ng-model="NewNetDevice.Connect_Device">
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="addNetDevice();">Save</button>
								<button type="button" class="btn btn-default" data-dismiss="modal"ng-click="NewNetDevice={}">Close</button>
							</div>
						</div>
						</div>
					</div>

	<!-- Modal -->
	<div id="EditNetDevice" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit Network Device</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
								<div class="container col-md-12">
									<div class="row" >
										<div class="col-md-4">
											<label for="inputEmail3"><strong>type</strong></label>
											<!-- <input type="text" class="form-control" id="inputEmail3" placeholder="type" ng-model="selectedItem.type"> -->
											<select class="form-control" ng-model="selectedItem.type">
														<option value="Router">Router</option>
														<option value="Switch">Switch</option>
												</select>
										</div>
										<div class="col-md-4">
											<label for="DeviceName"><strong>Name</strong></label>
											<input type="text" class="form-control" id="DeviceName" placeholder="Device Name" ng-model="selectedItem.name">
										</div>
										<div class="col-md-4">
										<label for="inputEmail3" ><strong>Loopback</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Loopback" ng-model="selectedItem.Loopback">
									</div>
									</div>
								</div>
								<div class=" col-md-12">
									<div class="row">
										<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>Make</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Make" ng-model="selectedItem.Make">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>Model</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Model" ng-model="selectedItem.Model">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>Serial</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Serial" ng-model="selectedItem.Serial_Number">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>Connect Device</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Connect Device" ng-model="selectedItem.Connect_Device">
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary " data-dismiss="modal"ng-click="editNewNetDevice()">Save</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
						</div>
					</div>
				</div>

		<!-- Modal -->
		<div id="DeleteNetDevice" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete Network Device</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<h3 style='color: red'>Confirm to Delete</h3>
						<h3 style='color: red'>{[{selectedItem.name}]}</h3>
						<br/>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="deleteNewNetDevice()">Confirm</button>
						<button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
	<!-- End Router/Switch -->


 	<!-- Start VLAN Modal -->
	<div id="NewVLAN" class="modal fade" role="dialog" >
		<div class="modal-dialog  modal-lg"  >
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">New VlAN</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
							<div class="container col-md-12">
								<div class="row" >
									<div class="col-md-3">
										<label for="inputEmail3"><strong>VLAN</strong></label>
										<select class="form-control"  ng-model="selectedVlan_number" ng-options="vlan.id as vlan.vlan_number for vlan in vlans" ng-change="VlanChange(selectedVlan_number)" ></select>
									</div>
									<div class="col-md-3">
										<label for="DeviceName"><strong>Description</strong></label>
										<input type="text" class="form-control" id="DeviceName" placeholder="Description" ng-model="vlan_description">
									</div>
									<div class="col-md-3">
									<label for="inputEmail3" ><strong>Gateway</strong></label>
									<input type="text" class="form-control" id="inputEmail3" placeholder="Gateway" ng-model="NewVLAN.Gateway">
								</div>
								<div class="col-md-3">
										<label for="inputEmail3" class="control-label"><strong>Subnet</strong></label>
										<input type="text" class="form-control" id="inputEmail3" placeholder="Subnet" ng-model="NewVLAN.Submusk">
									</div>
								</div>
							</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="addVLAN();">Save</button>
								<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="NewVLAN = {}">Close</button>
							</div>
				</div>
				</div>
			</div>

	<!-- Modal -->
	<div id="editVlan" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit Network Device</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
									<div class="container col-md-12">
										<div class="row" >
											<div class="col-md-3">
												<label for="inputEmail3"><strong>VLAN</strong></label>
												<!-- <input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="vlans[selectedItem.vlan_id-1].vlan_number"> -->
												<select class="form-control"  ng-model="selectedVlan_number" ng-options="vlan.id as vlan.vlan_number for vlan in vlans" ng-change="VlanChange(selectedVlan_number)" ></select>
											</div>
											<div class="col-md-3">
												<label for="DeviceName"><strong>Description</strong></label>
												<input type="text" class="form-control" id="DeviceName" placeholder="Description" ng-model="vlan_description">
											</div>
											<div class="col-md-3">
											<label for="inputEmail3" ><strong>Gateway</strong></label>
											<input type="text" class="form-control" id="inputEmail3" placeholder="Gateway" ng-model="selectedItem.Gateway">
										</div>
										<div class="col-md-3">
												<label for="inputEmail3" class="control-label"><strong>Subnet</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Subnet" ng-model="selectedItem.Submusk">
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary " data-dismiss="modal"ng-click="editVlan()">Save</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
						</div>
					</div>
				</div>

		<!-- Modal -->
		<div id="deleteVlan" class="modal fade" role="dialog" >
			<div class="modal-dialog modal-dialog-center">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete VLAN</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<h3 style='color: red'>Confirm to Delete VLAN</h3>
						<h3 style='color: red'>{[{selectedVlan_number}]} {[{vlan_description}]}  {[{selectedItem.Gateway}]}</h3>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="deleteVlan()">Confirm</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<div id="editNetwork" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Edit Network</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
										<div class="container col-md-12">
											<div class="row" >
												<div class="col-md-4">
													<label for="DeviceName"><strong>Network</strong></label>
													<input type="text" class="form-control" id="DeviceName" placeholder="Network" ng-model="selectedItem.N_Name">
												</div>
												<div class="col-md-4">
													<label for="DeviceName"><strong>Network Number</strong></label>
													<input type="text" class="form-control" id="DeviceName" placeholder="Network Number" ng-model="selectedItem.N_Number">
												</div>
												<div class="col-md-4">
													<label for="inputEmail3"><strong>Category</strong></label>
													<!-- <input type="text" class="form-control" id="inputEmail3" placeholder="IP Address" ng-model="vlans[selectedItem.vlan_id-1].vlan_number"> -->
													<select class="form-control"  ng-model="selectedCate" ng-options="cate.id as cate.Category for cate in cates"  ng-change="NetChange(selectedCate)"></select>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<label for="DeviceName"><strong>Post Code</strong></label>
													<input type="text" class="form-control" id="DeviceName" placeholder="Post Code" ng-model="selectedItem.Postal_Code">
												</div>
												<div class="col-md-4">
												<label for="inputEmail3" ><strong>Phone</strong></label>
												<input class="form-control" id="inputEmail3" typ="number" placeholder="Phone" ng-model="selectedItem.Phone">
											</div>
											<div class="col-md-4">
													<label for="inputEmail3" class="control-label"><strong>Fax</strong></label>
													<input class="form-control" id="inputEmail3" typ="number" placeholder="Fax" ng-model="selectedItem.Fax">
												</div>
											</div>
										<div class="row">
											<div class="col-md-9">
												<label for="DeviceName"><strong>Address</strong></label>
												<input type="text" class="form-control" id="DeviceName" placeholder="Address" ng-model="selectedItem.address">
											</div>
											<div class="col-md-3">
												<label for="inputEmail3" ><strong>Circuit ID</strong></label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Circuit ID" ng-model="selectedItem.Circuit_ID">
											</div>
										</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary " data-dismiss="modal"ng-click="editNetwork()">Save</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
							</div>
						</div>
					</div>
	 <div id="DeleteNetwork" class="modal fade" role="dialog" >
		 <div class="modal-dialog modal-dialog-center">
			 <!-- Modal content-->
			 <div class="modal-content">
				 <div class="modal-header">
					 <h4 class="modal-title">Delete {[{Network.network_info.N_Name}]}</h4>
					 <button type="button" class="close" data-dismiss="modal">&times;</button>
				 </div>
				 <div class="modal-body">
					 <h3 style='color: red'>Confirm to Delete {[{Network.network_info.N_Name}]}</h3>
				 </div>
				 <div class="modal-footer">
				 <button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="deleteNet()">Confirm</button>
					 <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
				 </div>
			 </div>
		 </div>
	 </div>
	<!-- End Vlan-->
	<!-- update note operation -->
	<div class="modal fade" id="UpdateNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Date:</label>
            <input type="text" class="form-control" id="recipient-name" ng-model="currentdate" disabled>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" ng-model="selectedItem.Description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="UpdateNote()" data-dismiss="modal">Update Notes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	<div id="deleteNote" class="modal fade" role="dialog" >
		<div class="modal-dialog modal-dialog-center">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Delete Notes</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p>{[{selectedItem.Description}]}</p>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="deleteNote()">Confirm</button>
					<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/JavaScript" src="/js/Network/Network.js"></script>
