<!-- ng-app="NewSite" -->
<div ng-controller="NewSiteController">
  <ol class="breadcrumb">
  	<li class="breadcrumb-item">
  		<a href="/Dashboard">Dashboard</a>
  	</li>
  	<li class="breadcrumb-item active">NewSite</li>
  </ol>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1>New Network</h1>
        <h2 style="background-color:red;color:white; width: 237px; height: 40px; text-align: center;">CONFIDENTIAL</h2>
        <img src="/img/LDBLogo.png" width="200px">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-primary" ng-click="SaveNewSite()">Save</button>
            <button class="btn btn-sm btn-outline-danger" ng-click = "cancel()">Cancel</button>
          </div>
        </div>
  </div>
<div class="card mb-3">
   <div class="card-header">Network Information
   </div>
   <div class="card-body">
     <form>
       <div class="form-group">
         <div class="form-row">
           <div class="col-md-4">
             <label for="NetworkName">Network Name</label>
             <input class="form-control" id="NetworkName" type="text" aria-describedby="nameHelp" placeholder="Enter Network Name" ng-model="network_info.N_name">
           </div>
           <div class="col-md-4">
             <label for="NetworkNumber">Network Number</label>
             <input class="form-control" id="NetworkNumber" type="text" aria-describedby="nameHelp" placeholder="Enter Network Number" ng-model="network_info.N_number">
           </div>
           <div class="col-md-4">
             <label for="Category">Category</label>
             <select class="form-control" ng-model ="network_info.Category_id">
                  <option ng-repeat="cate in category" value="{[{cate.id}]}" >{[{cate.Category}]}</option>
            </select>
           </div>
           </div>
         </div>
       <div class="form-group">
         <div class="form-row">
           <div class="col-md-4">
             <label for="PhoneNumber">Phone Number</label>
             <input class="form-control" id="PhoneNumber" type="number" placeholder="Contact Number" ng-model="network_info.Phone">
           </div>
           <div class="col-md-4">
             <label for="alt_number">Alternetive Number</label>
             <input class="form-control" id="alt_number" type="number" placeholder="Alternetive Number" ng-model="network_info.alt_number">
           </div>
           <div class="col-md-4">
             <label for="FaxNumber">Fax Number</label>
             <input class="form-control" id="FaxNumber" type="number" placeholder="Fax number" ng-model="network_info.Fax">
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="form-row">
           <div class="col-md-4">
             <label for="Store_Manager">Store Manager</label>
             <input class="form-control" id="Store_Manager" type="text" placeholder="Store Manager" ng-model="network_info.store_Manager">
           </div>
           <div class="col-md-4">
             <label for="Regional_manager">Regional manager</label>
             <input class="form-control" id="Regional_manager" type="text" placeholder="Regional_manager" ng-model="network_info.regional_manager">
           </div>
           <div class="col-md-4">
             <label for="Circuit_ID">Circuit ID</label>
             <input class="form-control" id="Circuit_ID" type="number" placeholder="Contact Number" ng-model="network_info.Circuit_ID">
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="form-row">
          <div class ="col-md-8">
            <label for="Address">Address</label>
            <input class="form-control" id="Address" type="address" aria-describedby="emailHelp" placeholder="Enter Address" ng-model="network_info.address">
         </div>
         <div class="col-md-4">
           <label for="PostalCode">Postal Code</label>
           <input class="form-control" id="PostalCode" type="text" aria-describedby="nameHelp" placeholder="Enter Postal Code" ng-model="network_info.Postal_Code">
         </div>
       </div>
      </div>
     </form>
   </div>
 </div>
  <div class="card mb-3">
 		<div class="card-header">
 			<i class="fa fa-table"></i> End Device
 			<button class="btn btn-primary btn-sm pull-right" type="button" ng-click="NewEndDevice()">New</button>
 			</div>
 		<div class="card-body">
 			<div class="table-responsive">
 				<table class="table table-striped  table-hover table-sm" id="new_End_Table" width="100%" cellspacing="0">
 					<thead>
 						<tr>
 							<th>IP</th>
 							<th>Device Name</th>
 							<th>VLAN</th>
 							<th>Port</th>
 							<th>Active</th>
 							<th>Description</th>
 							<th>Type</th>
 							<th>Make</th>
 							<th>Model</th>
 							<th>Connected Device</th>
              <th>Action</th>
 						</tr>
 					</thead>
 					<tbody>
            <tr ng-repeat="EndDevice in End_Device">
              <td><input type="text" class="form-control"  placeholder="IP" ng-model="EndDevice.IP"></td>
              <td><input type="text" class="form-control" placeholder="Device" ng-model="EndDevice.Name"></td>
              <td><input type="text" class="form-control" placeholder="VLAN" ng-model="EndDevice.VLAN_ID"></td>
              <td><input type="text" class="form-control" placeholder="Port" ng-model="EndDevice.Port"></td>
              <td><input type="text" class="form-control" placeholder="Active" ng-model="EndDevice.Active"></td>
              <td><input type="text" class="form-control" placeholder="Description" ng-model="EndDevice.Description"></td>
              <td><input type="text" class="form-control" placeholder="Type" ng-model="EndDevice.Type"></td>
              <td><input type="text" class="form-control" placeholder="Make" ng-model="EndDevice.Make"></td>
              <td><input type="text" class="form-control" placeholder="Model" ng-model="EndDevice.Model"></td>
              <td><input type="text" class="form-control" placeholder="Connected Device" ng-model="EndDevice.NetDevice"></td>
              <td>
                <button class="btn btn-default btn-sm"  type="button" ng-click="CloneEndDevice(EndDevice)"><i class="fa fa-clone" aria-hidden="true"></i></button>
                <button class="btn btn-danger btn-sm" type="button" ng-click="RemoveEndDevice(EndDevice)"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
            </tr>
 					</tbody>
 				</table>
 			</div>
 		</div>
 	</div>
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> WAN
      	<button class="btn btn-primary btn-sm pull-right" type="button" ng-click="NewWAN()">New</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm" id="WANTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Provider</th>
              <th>WAN Type</th>
              <th>Upload</th>
              <th>DownLoad</th>
              <th>UploadShaping</th>
              <th>WAN Network</th>
              <th>WAN IP</th>
              <th>ADSL/OOB</th>
              <th>LOC ID</th>
              <th>ASSET TAG</th>
              <th>CSID</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="NewWAN in NewWANs">
              <td><input type="text" class="form-control" placeholder="Provider" ng-model="NewWAN.Provider"></td>
              <td><input type="text" class="form-control" placeholder="WAN_Type" ng-model="NewWAN.WAN_Type"></td>
              <td><input type="text" class="form-control" placeholder="Upload" ng-model="NewWAN.Upload"></td>
              <td><input type="text" class="form-control" placeholder="Download" ng-model="NewWAN.Download"></td>
              <td><input type="text" class="form-control" placeholder="UploadShaping" ng-model="NewWAN.UploadShaping"></td>
              <td><input type="text" class="form-control" placeholder="WAN Network" ng-model="NewWAN.WAN_Network"></td>
              <td><input type="text" class="form-control" placeholder="WAN IP" ng-model="NewWAN.WAN_IP"></td>
              <td><input type="text" class="form-control" placeholder="ADSL_OOB" ng-model="NewWAN.ADSL_OOB"></td>
              <td><input type="text" class="form-control" placeholder="LOC_ID" ng-model="NewWAN.LOC_ID"></td>
              <td><input type="text" class="form-control" placeholder="ASSET_TAG" ng-model="NewWAN.ASSET_TAG"></td>
              <td><input type="text" class="form-control" placeholder="CSID" ng-model="NewWAN.CSID"></td>
              <td>
                <button class="btn btn-default btn-sm"  type="button" ng-click="CloneWAN(NewWAN)"><i class="fa fa-clone" aria-hidden="true"></i></button>
                <button class="btn btn-danger btn-sm" type="button" ng-click="RemoveWAN(NewWAN)"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
              <tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class = "col-lg-6" > -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Router/Switch
          	<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#myModalDelete" ng-click="NewNetDevice()">New</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-sm" id="NDeviceTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Name</th>
                  <th>Loopback</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Serial Number</th>
                  <th>Connected Device</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat = "NewNetDevice in NewNetDevices">
                  <!-- <td><input type="text" class="form-control" placeholder="type" ng-model="NewNetDevice.type"></td> -->
                  <td>
                    <select class="form-control" ng-model="NewNetDevice.type">
                          <option value="Router">Router</option>
                          <option value="Switch">Switch</option>
                      </select>
                    </td>
                  <td><input type="text" class="form-control" placeholder="name" ng-model="NewNetDevice.name"></td>
                  <td><input type="text" class="form-control" placeholder="Loopback" ng-model="NewNetDevice.Loopback"></td>
                  <td><input type="text" class="form-control" placeholder="Make" ng-model="NewNetDevice.Make"></td>
                  <td><input type="text" class="form-control" placeholder="Model" ng-model="NewNetDevice.Model"></td>
                  <td><input type="text" class="form-control" placeholder="Serial_Number" ng-model="NewNetDevice.Serial_Number"></td>
                  <td><input type="text" class="form-control" placeholder="Connected Device" ng-model="NewNetDevice.Connect_Device"></td>
                  <td>
                    <button class="btn btn-default btn-sm"  type="button" ng-click="CloneNetDevice(NewNetDevice)"><i class="fa fa-clone" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" type="button" ng-click="RemoveNetDevice(NewNetDevice)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  </td>
                <tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class = "col-lg-6" > -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> VLANS
          	<button class="btn btn-primary btn-sm pull-right" type="button" data-toggle="modal" data-target="#myModalDelete" ng-click="NewVLAN()">New</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-sm" id="VLANTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>VlAN</th>
                  <th>description</th>
                  <th>Gateway</th>
                  <th>Subnet</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat = "NewVLAN in NewVLANs">
                  <td>
                    <select class="form-control" ng-options="vlan.vlan_number for vlan in vlans" ng-change="VlanChange(NewVLAN,selectedVLAN)" ng-model ="selectedVLAN"></select>
                  </td>
                  <td><input type="text" class="form-control" placeholder="Description" ng-model="NewVLAN.Description" disabled></td>
                  <td><input type="text" class="form-control" placeholder="Gateway" ng-model="NewVLAN.Gateway"></td>
                  <td><input type="text" class="form-control" placeholder="Submusk" ng-model="NewVLAN.Submusk"></td>
                  <td>
                    <button class="btn btn-default btn-sm"  type="button" ng-click="CloneVLAN(NewVLAN)"><i class="fa fa-clone" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" type="button" ng-click="RemoveVLAN(NewVLAN)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  </td>
                <tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <!-- </div>
  </div> -->
  </div>

  <script type="text/JavaScript" src="/js/Network/NewSite.js"></script>
